```css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #090909;
    color: white;
}

.topo {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a0e1b;
}

.logo img {
    width: 170px;
    border-radius: 20px;
}

.titulo {
    font-size: 40px;
    font-weight: normal;
    color: white;
}

.menu-direita {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-direita input {
    width: 220px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #181818;
    color: white;
}

.menu-direita button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #641220;
    color: white;
    cursor: pointer;
}

.menu-direita button:hover {
    background-color: #8f1d2c;
}

.corpo {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 50px 0;
}

.corpo h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 15px;
}

.corpo > p {
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 40px;
    font-size: 18px;
}

.menu-produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.menu-produtos button {
    background-color: #111111;
    color: white;
    border: 1px solid #444444;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.menu-produtos button:hover {
    background-color: #641220;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.produto {
    background-color: #181818;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #333333;
    padding-bottom: 20px;
}

.produto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.produto h3 {
    margin: 15px 20px 10px;
    font-size: 21px;
}

.produto p {
    margin: 0 20px 15px;
    color: #dddddd;
    font-size: 18px;
    font-weight: bold;
}

.produto button {
    margin: 0 20px;
    width: calc(100% - 40px);
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #641220;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #8f1d2c;
}

.rodape {
    margin-top: 60px;
    padding: 25px;
    text-align: center;
    background-color: #050505;
    color: #aaaaaa;
}


.carrinho {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    color: white;
}

.carrinho h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.voltar {
    display: inline-block;
    margin-bottom: 30px;
    color: #dddddd;
    text-decoration: none;
}

#listaCarrinho {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemCarrinho {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #181818;
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 20px;
}

.itemCarrinho img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    flex: 1;
}

.info h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

.info p {
    color: #dddddd;
    font-size: 18px;
    margin-bottom: 15px;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quantidade span {
    font-size: 18px;
    font-weight: bold;
}

.quantidade button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #641220;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.quantidade button:hover {
    background-color: #8f1d2c;
}

.remover {
    padding: 10px 18px;
    border: none;
    border-radius: 7px;
    background-color: #35060e;
    color: white;
    cursor: pointer;
}

.remover:hover {
    background-color: #8f1d2c;
}

.total {
    margin-top: 40px;
    background-color: #181818;
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 30px;
    text-align: right;
}

.total h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.finalizar {
    padding: 14px 30px;
    background-color: #641220;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.finalizar:hover {
    background-color: #8f1d2c;
}

.vazio {
    text-align: center;
    font-size: 23px;
    color: #bdbdbd;
    margin: 60px 0;
}



